{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>E-wallet</title>
	<link rel="stylesheet" href="{% static 'userwallet/wallet.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</head>
<body>
	<div class="wallet-container text-center">
		<p class="page-title"><i class="fa fa-align-left"></i>My E-wallet<i class="fa fa-user"> &nbsp;welcome {{user.username}}</i></p>


<div>
			<p align="left"> <b>All transactions : </b></p>
		</div>
		<div class="txn-history">


		<table class="table table-sm">
		  <thead>
			<tr>
				<th class="txn-list" scope="col">Date</th>
			  <th class="txn-list" scope="col">Source</th>

				<th class="txn-list" scope="col">Ref#</th>
				<th class="txn-list" scope="col">Type</th>
				<th class="txn-list" scope="col">Amount</th>
			</tr>
		  </thead>
		  <tbody>
		  {%for txn in txn_list%}
			<tr>
				<td class="txn-list">{{txn.txn_date}}</td>

			  <td class="txn-list">{{txn.txn_source}} </td>

				<td class="txn-list">{{txn.txn_ref}}</td>

				<td class="txn-list">{{txn.txn_type}}</td>
				{%if txn.txn_type == "CREDIT" or txn.txn_amount == "0"%}
				<td class="txn-list"><span class="credit-amount">+₹ {{txn.txn_amount}}</span></td>
				{%else%}
				<td class="txn-list"><span class="debit-amount">-₹ {{txn.txn_amount}}</span></td>


				{%endif%}

			</tr>
{%endfor%}
		  </tbody>
		</table>
			</div>

			<div class="footer-menu">
				<div class="row text-center">
					<div class="col-md-3">
						<i class="fa fa-home"></i>
						<p><a href="{%url 'home' walletid %}">Home</a></p>
					</div>

					<div class="col-md-3">
						<i class="fa fa-inbox"></i>
						<p><a href="{%url 'all_transactions' walletid %}">All transactions</a></p>
					</div>

					<div class="col-md-3">
						<i class="fa fa-university"></i>
						<p>Bank</p>
					</div>

					<div class="col-md-3">
						<i class="fa fa-barcode"></i>

						<p><a href="{%url 'logout'%}">Logout</a></p>
					</div>
				</div>
			</div>
</div>
</body>
</html>
