   {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>E-wallet</title>
	<link rel="stylesheet" href="{% static 'userwallet/wallet.css' %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


</head>
<body>
	<div class="wallet-container text-center">
		 <h5 style="color:black;"> Kindly provide  below details for wallet creation </h5>
      			  <div class="card card-body">

					  <div></div>
				  <form method="post" action="{% url 'create_wallet_post' walletid %}" id="formdata">
					  {% csrf_token %}
					  <div class="form-group">
						<input type="tel" class="form-check form-check-inline w-25" id="phonenum" name="phonenum" placeholder="Enter Phone number" pattern="[0-9]{4}[0-9]{3}[0-9]{3}" required >

					  </div>
					   <div class="form-group">
						   <input id="panid" name="panid"  class="form-check form-check-inline w-25" placeholder="Enter PAN number" type="text" >

					  </div>



					  <button type="submit" data-loading-text="Validating details..." class="btn btn-primary">Create</button>

				   </form>


			  </div>
		<div class="footer-menu">
				<div class="row text-center">
			<div class="col-md-3">
						<i class="fa fa-home"></i>
						<p><a href="{%url 'game_home' walletid %}">Home</a></p>
					</div>
					<div class="col-md-3"></div>
					<div class="col-md-3"></div>





					<div class="col-md-3">
						<i class="fa fa-barcode"></i>

						<p><a href="{%url 'logout'%}">Logout</a></p>
					</div>
				</div>



    </div>
</body>
</html>
